<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css" media="all">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <title>DECO1012 Assignment 3 Marking Site</title>
</head>
<body>
    <div class="container">
        <!-- <div class="section report"> -->
            <!-- <embed src="report.pdf" type="application/pdf" width="100%" height="100%"> -->
        <!-- </div> -->
        <div class="section sketch">
            <div class="section sketch-section code">
                <pre class="prettyprint linenums" id="code"></pre>
            </div>
        </div>
        <div class="vsep"></div>
        <div class="section sketch-section display" id="iframe-container">
            <iframe id="iframe"></iframe>
        </div>
    </div>
    <div id="markingDialog">
        <div class="title">
            <h2>{{name}}</h2>
            <div id="sid">{{sid}}</div>
            /
            <div id="unikey">{{unikey}}</div>
        </div>
        <div class="criteria">
            <div></div>
            <div>A</div>
            <div>B</div>
            <div>C</div>
            <div>Grade</div>
            <select class="mark-grade" tabindex=1 type="number" id="gradeA" name="gradeA">
                <option disabled selected value> --- </option>
                <option class="grade-option option-HD">HD</option><option class="grade-option option-DI">DI</option><option class="grade-option option-CR">CR</option><option class="grade-option option-PS">PS</option><option class="grade-option option-FA">FA</option>
            </select>
            <select class="mark-grade" tabindex=4 type="number" id="gradeB" name="gradeB">
                <option disabled selected value> --- </option>
                <option class="grade-option option-HD">HD</option><option class="grade-option option-DI">DI</option><option class="grade-option option-CR">CR</option><option class="grade-option option-PS">PS</option><option class="grade-option option-FA">FA</option>
            </select>
            <select class="mark-grade" tabindex=7 type="number" id="gradeC" name="gradeC">
                <option disabled selected value> --- </option>
                <option class="grade-option option-HD">HD</option><option class="grade-option option-DI">DI</option><option class="grade-option option-CR">CR</option><option class="grade-option option-PS">PS</option><option class="grade-option option-FA">FA</option>
            </select>
            <div>Mark</div>
            <input class="mark-input" tabindex=2 type="number" min=0 max=100 id="markA" name="markA">
            <input class="mark-input" tabindex=5 type="number" min=0 max=100 id="markB" name="markB">
            <input class="mark-input" tabindex=8 type="number" min=0 max=100 id="markC" name="markC">
            <div>Comment</div>
            <textarea class="mark-comment" tabindex=3 type="text" id="commentA" name="commentA"></textarea>
            <textarea class="mark-comment" tabindex=6 type="text" id="commentB" name="commentB"></textarea>
            <textarea class="mark-comment" tabindex=9 type="text" id="commentC" name="commentC"></textarea>
        </div>
        <div class="submission-options">
            <textarea id="commentPreview"></textarea>
            {% if late %}
                <label for="mark-late">Days Late</label>
                <input id="mark-late" type="number" name="mark-late">
                <label for="override">Override Late Penalty</label>
                <input type="checkbox" tabindex=10 id="override" name="override" class="mark-checkbox">
            {% endif %}
            <label>Final Grade</label>
            <div id="mark-final"></div>
            <button id="submit" type="submit">Submit</button>
            <p id="message"></p>
        </div>
    </div>
    <div class="controls">
        <!--button id="btn-prev" tabindex=-1
            onclick="window.location.href='/{{next_sid}}'"><i
            class="material-icons-outlined">skip_previous</i></button-->
        <button id="btn-home" tabindex=-1><i class="material-icons-outlined">home</i></button>
        <button id="btn-play" tabindex=-1><i class="material-icons-outlined">play_arrow</i></button>
        <button id="btn-stop" tabindex=-1><i class="material-icons-outlined">stop</i></button>
        <button id="btn-mark" tabindex=-1><i class="material-icons-outlined">assignment</i></button>
        <button id="btn-full" tabindex=-1><i class="material-icons-outlined">fullscreen</i></button>
        <!--button id="btn-next" tabindex=-1
            onclick="window.location.href='/{{next_sid}}'"><i
            class="material-icons-outlined">skip_next</i></button-->
    </div>
    <!-- <script src="bundle.js"></script> -->
    <script src="static/index.js"></script>
    <script src="static/api.js"></script>
    <script>onLoad()</script>
</body>
</html>
